<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SampleTestNGTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe297">  <td>20/11/08 11:17:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNGTest.afterSuiteMethodTest()[pri:0, instance:dataDrivenTest.SampleTestNGTest@52102734]">afterSuiteMethodTest</td> 
  <td>main@687059528</td>   <td></td> </tr>
<tr bgcolor="afe297">  <td>20/11/08 11:17:21</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestNGTest.beforeSuiteMethodTest()[pri:0, instance:dataDrivenTest.SampleTestNGTest@52102734]">beforeSuiteMethodTest</td> 
  <td>main@687059528</td>   <td></td> </tr>
</table>
